.app_dark_theme {
    --bg-color: #150122;
    --inverted-bg-color: #d6d3d3;
    --primary-color: #9e45d1;
    --secondary-color: #632d83;
    --inverted-primary-color: #5a094f;
    --inverted-secondary-color: #044599;
}
